.container {
  width: 100%;
  position: static;
}

body {
  background: #fff;
  margin-top: 700 px;
}

header {
  position: absolute;
  margin-left: 20px;
  padding-top: 20px;
  background: #ff7f50;
  border-radius: 10px;
  height: 50px;
  width: 90%;
  clear: both;
}

advice {
  font-size: 80%;
  font-style: italic;
  color: #808080;
}

advice2 {
  font-size: 100%;
  font-style: italic;
  color: #666666;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Liens */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}
nav {
  float: right;
}

nav {
  background-color: #ff7f50;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav.logo {
  position: absolute;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20 px;
  padding-left: 30px;
  border-radius: 20px;
  width: 200px;
  z-index: 3;
}

nav img {
  width: 90%;
  border-radius: 20px;
  margin-bottom: 20px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #556b2f;
}

nav ul li a:hover {
  text-decoration: underline;
}

a.signup_button {
  margin-top: 10px;
  margin-left: 50%;
  position: absolute;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  position: absolute;
  margin-top: 80px;
  margin-left: 300px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}